{
.appVersion = "3517";
.formatVersion = 3;
customParameters = (
{
name = macintoshFONDName;
value = Trykker;
},
{
name = compatibleFullNames;
value = Trykker;
},
{
name = descriptions;
value = "Trykker is a high contrast serifed text face. Trykker has a pleasant old fashioned elegance derived from on16th century text faces.Trykker can be used from small sizes to larger display settings.";
},
{
name = licenses;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1.";
},
{
name = licenseURL;
value = "http://scripts.sil.org/OFL";
},
{
name = uniqueID;
value = "MagnusGaarde: Trykker Regular: 2011";
},
{
name = versionString;
value = "Version 1.001";
},
{
name = codePageRanges;
value = (
"1252",
"1250",
"1254",
"1257",
"bit 29"
);
},
{
name = panose;
value = (
2,
3,
5,
2,
7,
8,
0,
3,
3,
3
);
},
{
name = fsType;
value = (
);
},
{
name = unicodeRanges;
value = (
0,
1,
2,
3,
5,
7,
29,
31,
33,
35,
38,
45,
62
);
},
{
name = vendorID;
value = STC;
},
{
name = blueFuzz;
value = 1;
},
{
name = blueScale;
value = 0.039625;
},
{
name = blueShift;
value = 7;
},
{
name = trademarks;
value = "Trykker is a trademark of Sorkin Type Co.";
},
{
name = year;
value = 2011;
}
);
date = "2026-03-26 04:32:54 +0000";
familyName = Trykker;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn CAT;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature sups;
feature frac;
feature ordn;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_latn_1 {
	lookupflag 0;
	sub fi by f i;
	sub fl by f l;
} ccmp_latn_1;

script latn;
lookup ccmp_latn_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;
language ROM;
lookup locl_latn_0 {
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
} locl_latn_0;
language MOL;
lookup locl_latn_0;

script latn;
language CAT;
lookup locl_latn_1 {
	sub  l' periodcentered' l by ldot;
	sub  L' periodcentered' L by Ldot;
} locl_latn_1;
";
tag = locl;
},
{
automatic = 1;
code = "sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;
sub one slash two by onehalf;
sub three slash four by threequarters;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f i by fi;
sub f l by fl;
";
tag = liga;
}
);
fontMaster = (
{
customParameters = (
{
name = typoAscender;
value = 2022;
},
{
name = typoDescender;
value = -538;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 2022;
},
{
name = hheaDescender;
value = -538;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 2022;
},
{
name = winDescent;
value = 538;
},
{
name = strikeoutPosition;
value = 512;
},
{
name = strikeoutSize;
value = 94;
},
{
name = underlineThickness;
value = 94;
},
{
name = underlinePosition;
value = -173;
},
{
name = subscriptXOffset;
value = 0;
},
{
name = subscriptXSize;
value = 1434;
},
{
name = subscriptYOffset;
value = 287;
},
{
name = subscriptYSize;
value = 1331;
},
{
name = superscriptXOffset;
value = 0;
},
{
name = superscriptXSize;
value = 1434;
},
{
name = superscriptYOffset;
value = 977;
},
{
name = superscriptYSize;
value = 1331;
}
);
id = m001;
metricValues = (
{
pos = 2022;
},
{
pos = 1280;
},
{
pos = 881;
},
{
over = -36;
},
{
pos = -538;
},
{
},
{
over = 35;
pos = 1013;
},
{
over = 36;
pos = 1492;
},
{
over = -17;
pos = -519;
}
);
name = Regular;
stemValues = (
160,
178,
189,
245,
117,
9,
85,
128
);
}
);
instances = (
{
instanceInterpolations = {
m001 = 1;
};
name = Regular;
properties = (
{
key = styleMapFamilyNames;
values = (
{
language = dflt;
value = Trykker;
}
);
}
);
}
);
kerningLTR = {
m001 = {
V = {
"@MMK_R_A" = -365;
};
T = {
"@MMK_R_A" = -227;
};
W = {
"@MMK_R_A" = -365;
AE = -431;
};
"@MMK_L_A" = {
W = -365;
V = -365;
T = -247;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
},
{
name = "zone 1";
},
{
name = "zone 2";
},
{
name = "zone 3";
}
);
properties = (
{
key = compatibleFullNames;
values = (
{
language = dflt;
value = Trykker;
}
);
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright (c) 2011, Sorkin Type Co (www.sorkintype.com)
with Reserved Font Name \"Trykker\".";
}
);
},
{
key = descriptions;
values = (
{
language = dflt;
value = "Trykker is a high contrast serifed text face. Trykker has a pleasant old fashioned elegance derived from on16th century text faces.Trykker can be used from small sizes to larger display settings.";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Magnus Gaarde";
}
);
},
{
key = designerURL;
value = www.skriftklog.dk;
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1.";
}
);
},
{
key = licenseURL;
value = "http://scripts.sil.org/OFL";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Magnus Gaarde";
}
);
},
{
key = manufacturerURL;
value = www.sorkintype.com;
},
{
key = trademarks;
values = (
{
language = dflt;
value = "Trykker is a trademark of Sorkin Type Co.";
}
);
},
{
key = uniqueID;
value = "MagnusGaarde: Trykker Regular: 2011";
},
{
key = vendorID;
value = STC;
},
{
key = versionString;
value = "Version 1.001";
}
);
stems = (
{
name = vStem0;
},
{
name = vStem1;
},
{
name = vStem2;
},
{
name = vStem3;
},
{
horizontal = 1;
name = hStem0;
},
{
horizontal = 1;
name = hStem1;
},
{
horizontal = 1;
name = hStem2;
},
{
horizontal = 1;
name = hStem3;
}
);
unitsPerEm = 2048;
userData = {
UFO.lib = {
com.fontlab.v2.tth = {
stems = {
"X: 160" = {
horizontal = 0;
round = {
"0" = 1;
"24" = 2;
"31" = 3;
"41" = 4;
"53" = 5;
"71" = 6;
};
width = 160;
};
"X: 178" = {
horizontal = 0;
round = {
"0" = 1;
"16" = 2;
"31" = 3;
"41" = 4;
"53" = 5;
"64" = 6;
};
width = 178;
};
"X: 189" = {
horizontal = 0;
round = {
"0" = 1;
"16" = 2;
"25" = 3;
"41" = 4;
"53" = 5;
"60" = 6;
};
width = 189;
};
"X: 245" = {
horizontal = 0;
round = {
"0" = 1;
"16" = 2;
"25" = 3;
"30" = 4;
"38" = 5;
"46" = 6;
};
width = 245;
};
"Y: 117" = {
horizontal = 1;
round = {
"0" = 1;
"24" = 2;
"42" = 3;
"59" = 4;
"76" = 5;
"97" = 6;
};
width = 117;
};
"Y: 128" = {
horizontal = 1;
round = {
"0" = 1;
"24" = 2;
"42" = 3;
"59" = 4;
"76" = 5;
"88" = 6;
};
width = 128;
};
"Y: 85" = {
horizontal = 1;
round = {
"0" = 1;
"109" = 5;
"133" = 6;
"37" = 2;
"61" = 3;
"85" = 4;
};
width = 85;
};
"Y: 9" = {
horizontal = 1;
round = {
"0" = 1;
"1024" = 5;
"1252" = 6;
"342" = 2;
"569" = 3;
"797" = 4;
};
width = 9;
};
};
};
com.typemytype.robofont.guides = (
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 430;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 436;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = "base-overshoot";
x = 0;
y = -264;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = "cap-overshoot";
x = 0;
y = 640;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = capheight;
x = 0;
y = 625;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = "ascender-overshoot";
x = 0;
y = 553;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = "ord-base";
x = 0;
y = 288;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 513;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = "oldstylefig-overshoot";
x = 0;
y = 465;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
name = descender;
x = 0;
y = -220;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = -160;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 979;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 979;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 979;
},
{
angle = 0;
isGlobal = 1;
magnetic = 5;
x = 0;
y = 302;
}
);
};
UFOFormat = 2;
};
versionMajor = 1;
versionMinor = 2;
}
